<!DOCTYPE html>
<html>
<head>
<title>CONTACT</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
<!--start-top-nav-script-->
		<script>
            function del(){
            if(confirm("logout?")){
                window.open("{% url 'logout' %}");
                    }
            else{
                     return false;
                         }
            }

			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
<!--End-top-nav-script-->
</head>
<body>
<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<img src="../static/images/logo.jpg"  class="suspect" alt="" />
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
					   <li><a href={% url 'index' %} >Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href={% url 'features' %} >Features</a></li>
						<li><a href={% url 'work' %} >Work</a></li>
						<li><a href={% url 'contact' %} class="active">Contact</a></li>
                         {% if acc_exist %}
                       <li style="color: snow">Welcome {{ acc_name }}</li>
                             <li><input type="button" onclick=del() value="logout" /></li>
                        {% else %}
                            <li><a href={% url 'login' %}>Login</a></li>

                        {% endif %}
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
              function del(){
            if(confirm("确认删除吗")){
                window.open("{% url 'logout' %}");
                    }
            else{
                     return;
                         }
            }
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	 <!--start-contact-->
	 <div class="contact">
	 	<div class="container">
	 		<div class="contact-mian">
	 			<h3>Contact Us</h3>
	 			<p>Sent a message to us We can do better , let's begin our new world!</p>
                <form method="post">
                      {% csrf_token %}
	 			<div class="contact-top">
	 				<input type="text" name="name" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}"/>
					<input type="text" name="email"value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
					<textarea value="Your Message"name="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message';}">Your Message</textarea>
                </div>


								<input type="submit" value="SEND" class="btn btn-success" />
</form>
                                <img width='150px'; style="margin: 0;padding: 0;position:absolute;left:0;bottom:40%;" src="../static/QRcode/qrcode.png">
            </div>

	 			</div>
         </form>
	 		</div>
	 	</div>
	 </div>
	 <!--end-contact--> 
	 <!--end-contact--> 
	 <div class="map">
	 	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3887.934190118153!2d77.63611399999999!3d12.976061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a3f47ada21%3A0x6959ab57b8bec812!2sDFS%2C+No+184+1st+Floor!5e0!3m2!1sen!2sin!4v1421480060066" frameborder="0" style="border:0"></iframe>
	 </div> 
	 <!--end-contact--> 
	 <!--start-footer-->
	 <div class="footer">
	 	<div class="container">
	 		<div class="footer-top">
	 			<div class="footer-left">
	 				<div class="footer-text">
	 					<a href="{% url 'about' %}">ABOUT</a>
	 					<ul>
	 						<li><a href="#">&Business Background</a></li>
							<li><a href="#">&Business Culture</a></li>
							<li><a href="#">&Business Spirit</a></li>
							<li><a href="#">&Business Introduction</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href="{% url 'features' %}">Achievements</a>
	 					<ul>
	 						<li><a href="#">&Development course</a></li>
							<li><a href="#">&Company sizes</a></li>
							<li><a href="#">&The products</a></li>
							<li><a href="#">&Intellectual property</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href="{% url 'work' %}">WORK</a>
	 					<ul>
	 						<li><a href="#">&News center</a></li>
							<li><a href="#">&Talent concept</a></li>
							<li><a href="#">&Development concept</a></li>
							<li><a href="#">&Announcement</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href="{% url 'index' %}">SUPPORT</a>
	 					<ul>
	 						<li><a href="https://support.sonymobile.com/cn/">&sony mobile</a></li>
							<li><a href="http://www.ecredence.com/">&ecredence</a></li>
							<li><a href="http://www.hdpi.com.cn/webfront/">&hppi.china</a></li>
							<li><a href="https://www.apple.com/">&apple</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href="{% url 'contact' %}">CONTACT</a>
	 					<ul>
	 						<li><a href="#">&Address:SEMC</a></li>
                            <li><a href="#">&Postcodes:110064</a></li>
							<li><a href="#">&Email:koushushin@sony.com</a></li>
							<li><a href="#">&Phone:010-7788-5544</a></li>
	 					</ul>
	 				</div>
	 			</div>
	 			<div class="footer-right">
	 				<ul>
	 					<li><a href="#"><span class="fb"> </span></a></li>
	 					<li><a href="#"><span class="twt"> </span></a></li>
	 					<li><a href="#"><span class="in"> </span></a></li>
	 					<li><a href="#"><span class="be"> </span></a></li>
	 					<li><a href="#"><span class="drbl"> </span></a></li>
	 				</ul>
	 			</div>
	 			<div class="clearfix"></div>
	 			<div class="footer-bottom">
	 				<p>Copyright &copy; 2017.Company koushushin All rights reserved.</p>
	 			</div>
	 		</div>
	 	</div>
	 	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	 </div>	
	 <!--end-footer-->					 
</body>
</html>